absl-py==0.7.1
astor==0.8.0
boto==2.49.0
boto3==1.9.180
botocore==1.12.180
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
docutils==0.14
gast==0.2.2
gensim==3.7.3
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
idna==2.8
isodate==0.6.0
jmespath==0.9.4
joblib==0.13.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lexical-diversity==0.1.0
Markdown==3.1.1
matplotlib==3.1.0
networkx==2.3
nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
pkg-resources==0.0.0
protobuf==3.8.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
rdflib==4.2.2
readability==0.3.1
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
SPARQLWrapper==1.8.4
tag-fixer==0.0.4
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
textblob==0.15.3
torch==1.1.0
ujson==1.35
uncertainty==0.1.1
urllib3==1.25.3
vaderSentiment==3.2.1
Werkzeug==0.15.4
wrapt==1.11.2
